body {
    margin: 0 0 0;
    background-color: #000000;
    height: 100%;
    font-family:  'Source Han Sans TC', 'Open Sans Han TWHK', Roboto,
        'Noto Sans CJK TC', 'Noto Sans T Chinese', 'Source Han Sans TC',
        '黑體-繁', 'Heiti TC', '蘋果儷中黑', 'Apple LiGothic Medium',
        '微軟雅黑', 'Microsoft YaHei ', '微軟正黑體', 'Microsoft JhengHei',
        '文泉驛微米黑', 'WenQuanYi Micro Hei', '文泉驛正黑',
        'Droid Sans', 'Droid Sans Fallback','sans-serif';		
}
#outer {
    background: rgba(255, 255, 255, 1);
    width: 1224px;
    overflow: auto;
    margin: 0 auto;
    display:inline-block;
    height: auto;
}
#left {
    background: rgba(40, 40, 40, 1);
	width: 300px;
	height: 100%;
	color: #ffffff;
	position:fixed;
    z-index:99999;
    overflow: hidden;
}
#left a, #left img {
	text-align: center;
    width: 270px;
    	padding-left: 10px;
}
#left p {
	text-align: right;
		padding-right: 45px;
}



#top {
	margin-left:300px;
    color: #fff;
    background: rgba(40, 40, 40, 1);
    text-align: left;
    padding: 2px 5px 3px;
    width: 814px;
    position:fixed;
    z-index:99999;
    overflow: hidden;
}

#top a {
    color: #fff;
    text-decoration: none;
}

#top a:hover {
    color: #cff;
}



#banner  {
	margin-left:300px;
    display: block;
}

#banner a, #banner img {
	padding-top: 15px;
    width: 330px;
}

#main {
	margin-left:300px;
    text-align: center;
    overflow: hidden;
}

#main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main ul .title {
	border: 1px;
    font-size: 28px;
    color: #fff;
    background: rgba(40, 40, 40, 1);
}

#main ul .content {
    margin: 0 48px;
    padding: 18px 48px 32px;
    font-size: 22px;
    color: #252525;
}

#main ul .content.youtube {
    padding: 10px;
    text-align: center;
}

#main ul {
    -webkit-perspective: 600px;
       -moz-perspective: 600px;
        -ms-perspective: 600px;
         -o-perspective: 600px;
            perspective: 600px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
         -o-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}

#main li {
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);

    -webkit-transition: all 600ms ease, opacity 200ms ease;
       -moz-transition: all 600ms ease, opacity 200ms ease;
        -ms-transition: all 600ms ease, opacity 200ms ease;
         -o-transition: all 600ms ease, opacity 200ms ease;
            transition: all 600ms ease, opacity 200ms ease;

    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
         -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}

#main li.past {
    opacity: 0;

    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

#footer {
	margin-left: 300px;
	z-index: 99999;
    padding: 22px;
    padding-bottom: 32px;
    color: #fff;
    background: rgba(40, 40, 40, 1);
}

@media screen and (max-width: 1225bpx) {
    #outer {
        width: 100%;
    }
}

@media screen and (min-width: 1225px) {
    #outer {
        position: absolute;
        left: 50%;
        margin-left:-612.5px;
    }

}
